# Created by https://www.toptal.com/developers/gitignore/api/deno
# Edit at https://www.toptal.com/developers/gitignore?templates=deno

### Deno ###
/.idea/

/node_modules

*.orig
*.pyc
*.swp
# End of https://www.toptal.com/developers/gitignore/api/deno

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Fresh build directory
_fresh/
